<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Profil użytkownika</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="../static/styles/main.css" th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<nav th:replace="fragments :: navbar"></nav>
<div class="container" style="text-align: center">
    <h2>Profil użytkownika</h2>
    <div class="row justify-content-center">
        <label class="col-sm-2 app-label">Imię:</label>
        <span class="col-sm-4" style="text-align: left;" th:text="${appUserProfile.firstName}">Jan</span>
    </div>
    <div class="row justify-content-center">
        <label class="col-sm-2 app-label">Nazwisko:</label>
        <span class="col-sm-4" style="text-align: left;" th:text="${appUserProfile.lastName}">Kowalski</span>
    </div>
    <div class="row justify-content-center">
        <label class="col-sm-2 app-label">Email:</label>
        <span class="col-sm-4" style="text-align: left;" th:text="${appUserProfile.email}">jankowalski@example.com</span>
    </div>
    <div class="row justify-content-center">
        <label class="col-sm-2 app-label">Biogram:</label>
        <span class="col-sm-4" style="text-align: left;" th:text="${appUserProfile.bio}">Cześć! Nazywam się Jan Kowalski i jestem z Rzeszowa. Obecnie jestem na trzecim roku informatyki na Politechnice Rzeszowskiej.</span>
    </div>
    <div class="row justify-content-center">
        <label class="col-sm-2 app-label">Miasto:</label>
        <span class="col-sm-4" style="text-align: left;" th:text="${appUserProfile.city}">Rzeszów</span>
    </div>
    <div class="row justify-content-center">
        <a class="custom-a" th:href="@{/settings/profile}" th:text="'Edytuj profil'">Edytuj profil</a>
    </div>
</div>

<th:block th:replace="fragments :: scripts"></th:block>
</body>
</html>